body {
  font-family: 'Rock Salt', cursive;
  font-size: 10px;
  color: #2d2d2c;
  background-color: AntiqueWhite;
  background-image: url("notepad.jpg");
}
[class*='col-'] {
  padding-right:0px;
  padding-left:0px;
  border-bottom: solid black 1px;
}
#form {
  position: fixed;
  top: 5px;
  left: 5px;
  height: calc(50% - 5px);
  width: calc(100% - 10px);
  border-left: solid red 1px;
}
h1{
  text-align: center;
  font-size: 200%;
}
.category {
  cursor: auto;
  display: block;
}
label {
  font-size: 12px;
  cursor: pointer;
  padding: 0px;
}
input[type=checkbox] {
  display: none;
}
input[type=checkbox] + span {
  text-decoration: line-through;
  color: grey;
  filter: grayscale();
}
input[type=checkbox]:checked + span {
  text-decoration: none;
  color: #2d2d2c;
  filter: none;
}
img {
  height: 12px;
  width: 12px;
}
#map {
  position: fixed;
  top: 50%;
  left: 5px;
  width: calc(100% - 10px);
  height: calc(50% - 5px);
  border-style: double;
}
.leaflet-popup-close-button {
  display: none;
}
.leaflet-popup-content-wrapper {
  pointer-events: none;
}
