body {
  color: #2d2d2c;
  font-family: "Montserrat", sans-serif;
}
btn {
  font-family: "Patua One", cursive;
}
.sidebar {
  font-size: 12px;
  position: fixed;
  top: 0;
  height: 100%;
  width: 250px;
  padding: 0 10px 10px;
  overflow-y: scroll;
}
#bucketlist {
  font-family: "Rock Salt", cursive;
  background-color: AntiqueWhite;
  left: 0;
}
#country {
  background-color: #2d2d2c;
  color: white;
  right: 0;
  display: none;
  font-family: Montserrat;
}
#map {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 250px);
  height: calc(100% - 22px);
}
#info {
  position: fixed;
  text-align: center;
  bottom: 0;
  right: 0;
  height: 22px;
  width: calc(100% - 250px);
}
@media screen and (max-width: 768px) {
  .sidebar {
    right: 0;
    height: 33.33%;
    width: 100%;
  }
  #bucketlist {
    top: 0;
  }
  #country {
    bottom: 0;
  }
  #map {
    top: 33.33%;
    left: 0;
    bottom: 22px;
    width: 100%;
    height: calc(66.67% - 22px);
  }
  #info {
    width: 100%;
  }
}
h1 {
  text-align: center;
  font-size: 150%;
}
.category {
  font-weight: 800;
  cursor: auto;
}
#bucketlist > label {
  font-size: 100%;
  font-weight: normal;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  display: block;
  width: 100%;
  border-bottom: solid grey 1px;
}
input[type=checkbox] {
  display: none;
}
input[type=checkbox] + span, input[type=checkbox] + span + span {
  color: grey;
}
input[type=checkbox]:checked + span, input[type=checkbox]:checked + span + span {
  color: #2d2d2c;
  filter: none;
}
.checkmark {
  visibility: hidden;
}
.tooltip {
  z-index: 999;
}
#bucketlist > img {
  height: 100%;
  width: auto;
}
#country > h1 {
  font-family: "Patua One", cursive;
}
#country > img {
  height: auto;
  width: 100%;
}
#country > #footer {
  position: absolute;
  bottom: 22px;
}
.leaflet-popup-close-button {
  display: none;
}
.leaflet-popup-content {
  padding: 10px;
}
.leaflet-popup-content > img {
  width: 100%;
  height: auto;
}
