html, body {
  font-family: 'Rock Salt', cursive;
  background-color: AntiqueWhite;
}
#scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  overflow: scroll;
}
#form {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}
h1 {
  -webkit-column-span: all; /* Chrome, Safari, Opera */
  column-span: all;
}
.category {
  cursor: auto;
}
label {
  cursor: pointer;
  display: block;
}
input[type=checkbox] {
  display: none;
}
input[type=checkbox] + span {
  text-decoration: line-through;
  color: grey;
  filter: grayscale();
}
input[type=checkbox]:checked + span {
  text-decoration: none;
  color: black;
  filter: none;
}
img {
  height: 24px;
  width: 24px;
}
#map {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
}
